### 변수, 값 표시와 변수의 저장

In [3]:
a = 123 # 변수 a에 정수 123을 대입
b_123 = 123.456 # 변수 b_123에 소수 123.456 대입
hello_world = "Hello World!" # 변수 hello_world에 문자열 "Hello World!"를 대입
# <- 파이썬 주석

In [4]:
print(a)
print(b_123)
b_123 = 456
print(123, 123.456, "Hello World!")
print(b_123)
# 여러개의 값을 ,로 구분해 모아서 표시 가능
# 실행을 마친 셀 변수는 노트북 내에서 공유 된다.

123
123.456
123 123.456 Hello World!
456

### 연산자

In [5]:
a=3
b=4

c=a+b # 덧셈
print("덧셈 : ", c)

d=a-b # 뺄셈
print("뺄셈 : ", d)

e=a*b # 곱셈
print("곱셈 : ", e)

f = a**b # 거듭제곰(a의 b제곱)
print("거듭제곱 : ", f)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
거듭제곱 :  81

In [7]:
g=a/b  #결과는 소수
print("나눗셈(소수): ",g)

h=a//b  #결과는 정수
print("나눗셈(정수): ",h)

i=a%b  #나머지
print("나머지: ",i)

나눗셈(소수):  0.75
나눗셈(정수):  0
나머지:  3

In [8]:
j = 5
j += 3  #3을 더한다. j = j+3과 같은 의미
print("3을 더한다: ", j)

k = 5
k -= 3  #3을 뺀다. k = k-3과 같은 의미
print("3을 뺀다: ", k)

3을 더한다:  8
3을 뺀다:  2

### 큰 수, 작은 수 표시

- e의 왼쪽에 소수, 오른쪽에 정수.
- e의 왼쪽 소수에 e의 오른쪽 횟수만큼 10을 곱한 수
- e의 오른쪽이 -면 그 횟수만큼 10을 나눈다.

In [9]:
a = 1.2e5  #120000
print(a)

b = 1.2e-4  #0.00012
print(b)

120000.0
0.00012

### 리스트
- 여러 개의 값을 한데 모아 하나의 변수로 처리
- 전체 요소를 []로 감싸고 각 요소는 ,로 구분

In [10]:
a = [1,2,3,4]
print(a)

[1, 2, 3, 4]

In [12]:
b = [4,5,6,7]
print(b[2])

6

In [13]:
c = [1,2,3,4,5]
c.append(6)  # 리스트 마지막에 요소 추가
print(c)

[1, 2, 3, 4, 5, 6]

In [14]:
d = [[1,2,3],[4,5,6]]
print(d)

[[1, 2, 3], [4, 5, 6]]

In [15]:
e = [1,2]
print(e*3)  # 리스트를 반복

[1, 2, 1, 2, 1, 2]

### 튜플

- 리스트와 같이 여러 개의 값을 한데 모아 다룰 때 사용
- 요소의 추가, 삭제, 교체 등은 불가능
- 튜플 값 전체를 ()로 감싸고 각 요소는 ,로 구분.

In [16]:
a = (1,2,3,4,5)  # 튜플 작성
b = a[2]  # 인덱스가 2인 요소
print(b)

c = (3,)  # 요소가 하나인 튜플은 요소 바로 뒤에 ,가 필요
print(c)

d = [1,2,3]
d_1, d_2, d_3 = d
print(d_1, d_2, d_3)

e = (4,5,6)
e_1, e_2, e_3 = e
print(e_1, e_2, e_3)

3
(3,)
1 2 3
4 5 6

### if문

- 조건 분기를 위해 사용

if 조건식:
  처리1
else:
  처리2

In [17]:
a = 5

if a>3:  # a가 3보다 크면
    print(a+2)  # 인덴트로 구분
else:  # a>3을 만족하지 않으면
    print(a-1)

7

In [18]:
b = 7

if b==7:
    print(b+2)
else:
    print(b-2)

9

### for문

- 처리를 반복 시행
- for문을 리스트와 함께 사용 할 때 :

for 변수 in 리스트:
    처리

- 입력한 정수 만큼 반복 처리 : 
for 변수 in range(정수):
    처리

In [19]:
for a in [4,7,10]:  # 리스트 각 요소가 변수 a에 들어가고
    print(a+1)  # 루프에서 실행하는 처리에는 인덴트

5
8
11

In [20]:
for a in range(5):  #a에는 0부터 4
    print(a)

0
1
2
3
4

### 함수

- 여러 행의 처리를 그릅으로 한데 모을 수 있다.

def 함수명(인수):
    처리
    return 반환값
    
- 인수나 반환값은 없어도 가능

In [21]:
def my_func_1():  # 함수명: my_func_1
    a=2
    b=3
    print(a+b)
    
my_func_1()  # 함수 호출

5

In [22]:
def my_func_2(p,q):  # p,q가 인수
    print(p+q)

my_func_2(3,4)  # 함수를 호출할 때 값을 전달

7

In [23]:
def my_func_3(p,q):
    r=p+q
    return r

k = my_func_3(3,4) # 반환값으로 받은 값을 k에 넣음
print(k)

7

In [24]:
# 여러 개의 값을 반환하고 싶은 경우 튜플을 사용
def my_func_3(p,q):
    r=p+q
    s=p-q
    return(r,s)  # 반환값을 튜플

k,l = my_func_3(5, 2)  # 튜플 각 요소를 k,l에 대입
print(k,l)

7 3

### 스코프

- 변수에 접근할 수 있는 범위
- 함수 안 = 로컬, 함수 밖 = 글로벌

In [25]:
a = 123  # 글로벌 변수

def show_number():
    b = 456  # 로컬 변수
    print(a,b)  # 함수 내보에서 글로벌 변수 접근 가능
    
show_number()

123 456

In [27]:
a = 123  # 글로벌 변수

def set_local():
    a = 456  # a는 위와 다른 로컬 변수
    print("Local : ", a)
    
set_local()
print("Global : ", a)  #글로벌 변수의 값은 변하지 않음

Local :  456
Global :  123

In [28]:
a = 123  # 글로벌 변수

def show_arg(a):  # a는 위와 다른 로컬 변수
    print("Local :", a)

show_arg(456)
print("Global :", a)

Local : 456
Global : 123

In [29]:
a = 123  # 글로벌 변수

def set_global():
    global a  # nonlocal로도 가능
    a = 456
    print("Global :", a)
    
set_global()
print("Global :", a)

Global : 456
Global : 456

In [40]:
# --- 리스트 예 ---
print("List : ")
my_list = [1,3,"List",[1,2,3]]
print(my_list)

print()

# --- 튜플 예 ---
print("Tuple : ")
my_tuple = (1,"Sting",[44,22])
print(my_tuple)

print()

# --- if문 예 ---
print("If : ")
a = 11
b = 22
if a > b:
    print(a - b)
else :
    print(b - a)
    
print()

# --- for문 예 ---
print("for : ")
for i in range(1, 20, 2):
    print(i)

print()

# --- 함수 예 ---
print("Function : ")
def gugu(n):
    for i in range(1,10):
        print(f'{n} * {i} = {n * i}')

gugu(2)

List :
[1, 3, 'List', [1, 2, 3]]

Tuple :
(1, 'Sting', [44, 22])

If :
11

for :
1
3
5
7
9
11
13
15
17
19

Function :
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18